.section-heading {
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-grey-light;
    text-align: center;
    opacity: 0.1;
    text-shadow: 2rem 2rem 4rem #888;
}
