.navbar {
    position: relative;
    z-index: 20;
    top: 4rem;
    display: flex;
    justify-content: space-evenly;
}

.navbar-link {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #fff;
    width: 1.5rem;
    word-wrap: break-word;
    text-align: center;
    transition: all 1.5s;

    &:hover {
        width: 15rem;
        background-color: rgba(255, 255, 255, 0.2);
        transition: all 2.5s;
    }
}
